html, body {
  margin: 0;
  padding: 0;
  background-image: url("img/image.jpg");
  background-size: cover;
}
canvas {
  left: 50% !important;
  right: 50% !important;
  transform: translate(-50%,10%);
  position: absolute;
  border: 2px solid blue;
}
